<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/c46c82380c.js" crossorigin="anonymous"></script>
    <title>Cake</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family:'Montserrat', sans-serif;
    
}

header{
    position: relative;
    height: 95vh;
    background: url('https://images.immediate.co.uk/production/volatile/sites/30/2020/08/vanilla-party-cake-c191e6b.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    padding: 1rem;
    
}


.navbar a{
    color: rgb(20, 2, 2);
    font-size: 1.8rem;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-weight: 500;
    
}

.navbar a:hover{
    border-bottom: 1.5px solid #fff;
}

.navbar .nav-item{
    display: inline-block;
    margin: 0.7rem;
    padding: 0.7rem;
}

ul li{
    list-style: none;
}

.style{ 
    display: inline-block;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


.header-content{
    position: absolute;
    text-align: center;
    
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*background: linear-gradient(rgba(223, 215, 215, 0.2),rgba(255, 255, 255, 0.2));*/
}

.lg-heading{
    font-size: 2.5rem;
    font-weight: 700;
    font-family:'Montserrat', sans-serif;
}

.md-heading{
    font-size: 1.5rem;
}

.text-light{
    color: #fff;
}

.text-red{
    color: rgb(209, 38, 38);
}

.text-black{
    color: black;
}

.bg-dark{
    background:#aaa;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: white;
    border-radius: 10em;
}

.btn-primary:hover{
    background: #ddd;
}
.btn-secondary{
    background-color: white;
    border: 2px solid red;
    border-radius: 10em;
}

.btn-secondary:hover{
    background:#ddd;
}

/* showcase*/
.showcase{
    background: #ddd;
    padding: 10rem;
}

.row{
    height: 40rem;
    
    
}
.row:hover{
    box-shadow: 5px 5px 20px 20px #aaa;
}

.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
}

.row .text-box{
    padding: 3rem;
    background: #fff;
    height: 100%;
    letter-spacing: 0.15em;
    font-weight: 500;
    text-align: center;
}

.row h2{
    margin-bottom: 3rem;
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height:100%;
    object-fit: cover;
}

.row p{
    margin-bottom: 5rem;
}

/*features*/
.feature{
    padding: 10rem 5rem;
}
.box-wrapper{
    
    height: 30rem;
}
.box{
    width: 33.333%;
    float: left;
    
    padding: 5rem;
    text-align: center;
    font-size: 1.5rem;
    height: 100%;
    
}
.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.box h2{
    margin-bottom: 5rem;
    font-size: 2rem;
}
.box-1, .box-3{
    background: #263238;
    color: #fff
}

.box-2{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
}
/*####################################footer##################################*/
.footer{
    text-align: center;
    background: #263238;
    color: white;
    padding: 2rem;
}
.footer .social-media i{
    margin: 2rem;
}

.about {
    padding: 5rem;
   
}

.about-heading{
    border-bottom: 6px solid #ee4758;
    width: 100%;
}

.about .container h2{
    margin-bottom: 3rem;
}

.about .container p{
    margin-bottom: 5rem;
}

.count-item{
    width: 25%;
    float: left;
    
    padding: 5rem;
    text-align: center;
    
    height: 100%;
    
}
.counts::after{
    content: "";
    display: block;
    clear: both;
}


.count-item span{
    font-weight: 700;
    color: rgb(209, 38, 38); 
    font-size: 3rem; 
    
    
}
.count-item p{
    font-size: 2rem;
    margin-top: 1rem;
}

.banner{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}
.banner-left{
    
    width: 50%;
    float: left;
}
.banner-left .line{
    text-align: center;
    margin: 2rem;
}
.banner-right{

    width: 50%;
    float: right;
    
}
.banner-right .btn-c{
    display: inline-block;
    text-decoration: none;
    color: red;
    text-align: center;
}
.banner::after{
    content: "";
    display: block;
    clear: both;
}

/*###########################contact#####################*/
.contact{
    padding: 5rem 0rem;
    font-size:  1.5rem;
    background: #fff;
}


.company-address{
    float: left;
    width: 49%;
    padding: 1rem;
    
}

/*#####################form#############################*/
.form{
    float: right;
    width: 49%;
    padding: 0 1rem 1 rem 1 rem;
    
}

.form h1{
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}
.form-wrapper::after{
    content: "";
    display:block;
    clear: both;
}


.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
    
}
.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
.form-wrapper .company-address p{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

form h1::after{
    content: '';
    display: block;
    border: 3px solid #ee4758;
    width: 100%;
    margin-bottom: 2rem;
}

.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}
.form-wrapper .form textarea{
    padding: 0.5rem;
    width: 100%;
    height: 10rem;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em ;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #ee4758;
    color: #fff;
}

/*##############################media###########################*/
@media (max-width: 600px){
    html{
        font-size: 8px;
    }

    .navbar .nav-item{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .showcase .row{
        height: auto;
        width: 100%;
    }
    .row .img-box,.row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .feature .box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .feature .box-2,.feature .box-3{
        margin-top: 4rem;
    }
    .box-wrapper{
        height: auto;
    }

    .count-item{
        float: none;
        width: 100%;
        height: auto;
        padding: 0rem;
        
    }
    .count-item p{
        margin-top: 0
        rem;
    }
    .banner .banner-left,.banner .banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 4rem;
    }
    .form-wrapper .form{
        float:none;
        width: 100%;
        height: none;
    }
}

/* @media(orientation: landscape) ans(max-height: 500px){
    .header{
        height: 90vmax;
    } */
/* } */

    </style>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="container">
                <ul class="nav-item">
                    <li class="nav-item"><a href="#index">HOME</a></li>
                    <li class="nav-item"><a href="#about">ABOUT</a></li>
                    <li class="nav-item"><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </nav>
        
        
    </header>
    <div class="header-content">
        <h1 class='lg-heading text-red'>Eat The Fresh</h1>
        <p class='text-red md-heading'>feel the test and experience the sweetness</p>
        <a href="#explore" class="btn btn-primary md-heading style text-red">Explore</a>
    </div>
    <section id="index">

    <section class="showcase" id="explore">
        <div class="container">
            <div class="row row1">
                <div class="img-box">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjKPuLozRC2n4MnlyKlPdTQm6keMAOJnlTwQ&usqp=CAU" alt="choc0let-cake">
                </div>
                <div class="text-box">
                    <h2 class="lg-heading">CRUNCHY CHOCOLET</h2>
                    <p class="md-heading">coated with crown chocolate</p>
                    <a href="#about" class="btn btn-secondary md-heading style text-red">more</a>
                </div>
            </div>
            <div class="row row2">
                <div class="img-box">
                    <img src="https://m.media-amazon.com/images/I/41L12hLwO2L._SX385_.jpg" alt="pineapple-cake">
                </div>
                <div class="text-box">
                    <h2 class="lg-heading">SPONGY CHOCOLET</h2>
                    <p class="md-heading ">embeded with spongy base</p>
                    <a href="#about" class="btn btn-secondary md-heading style text-red">more</a>
                </div>
            </div>
        </div>
    </section>
    <section class="feature">
        <div class="container">
            <div class="box-wrapper">
                <div class="box box-1">
                    <i class="fas fa-utensils fa-2x" ></i>
                    <h2 class="md-heading">Quality</h2>
                    <p>we always try to provide you product made of quality material</p>
                </div>
                <div class="box box-2">
                    <i class="fas fa-spa fa-2x"></i>
                    <h2 class="md-heading">safety</h2>
                    <p>we always hand over ower product to you with our precation and tested throgh diffrent layer</p>
                </div>
                <div class="box box-3">
                    <i class="fas fa-map-signs fa-2x" ></i>
                    <h2 class="md-heading">satisfaction</h2>
                    <p>till now we have 100+ satisfied customers over city</p>
                </div>
            </div>
        </div>

    </section>

    <footer class="footer">
        <div class="social-media">
            <i class="fab fa-facebook fa-4x"></i>
            <i class="fab fa-google fa-4x"></i>
            <i class="fab fa-instagram fa-4x"></i>
        </div>
        <p>pratik_cake_house &copy; 2021 ,All Rights Reserved</p>
    </footer>
    <script src="./js/dom.js"></script>
</section>

<section id="about">
    <section class="about">
        <div class="container">
            <h2 class="lg-heading text-black about-heading">About us</h2>
            <p class="md-heading">operating throgh more than a year with 100+ satisfied customers. <br>We always provide with well sanitised products.</p>
            <div class="counts">
                
                <div class="count-item count1">
                    <span>100+</span>
                    <p>CUSTOMERS</p>
                </div>
                <div class="count-item count2">
                    <span>5+</span>
                    <p>STORES</p>
                </div>
                <div class="count-item count3">
                    <span>10+</span>
                    <p>PRODCUTS</p>
                </div>
                <div class="count-item count4">
                    <span>2+</span>
                    <p>CERTIFICATION</p>
                </div>
            </div>
            <div class="banner">
                <div class="banner-left">
                    <p class="line">What are you wating for ,reach us right now</p>
                </div>
                <div class="banner-right">
                    <a href="#contact" class="btn-c btn btn-primary">CONTACT US</a>
                </div>
            </div>
        </div>
    </section>
</section>

<section id="contact">
    <section class="contact">
        <div class="container">
            <div class="form-wrapper">
                <div class="company-address">
                    <div class="address-group">
                        <i class="fas fa-map-marker-alt fa-2x text-red"></i>
                        <h2 class="md-heading">LOCATION</h2>
                        <p>pune</p>
                        
                    </div>
                    <div class="address-group">
                        <i class="far fa-envelope fa-2x text-red"></i>
                        <h2 class="md-heading">EMAIL</h2>
                        <P>pratik_cake_house@gmail.com</P>
                    </div>
                    <div class="address-group">
                        <i class="fas fa-phone-square-alt fa-2x text-red"></i>
                        <h2 class="md-heading">CALL</h2>
                        <P>+9110101010</P>
                    </div>
                </div>
                <form action="" class="form">
                    <h1 class="lg-heading text-red">contact us</h1>
                    <p class="text-black">let us know your consern,suggestions by filling this form</p>
                    <div class="form-group">
                        <label for="username">username</label  >
                        <input type="text" name="" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="phone-no">phone-no</label >
                        <input type="text" name="" id="phone-no" required>
                    </div>
                    <div class="form-group">
                        <label for="email">email</label >
                        <input type="text" name="" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="text">text</label >
                        <textarea name="" id="text" ></textarea>
                    </div>
                    <button type="submit" class="form-btn" id="bt1">submit</button>
                </form>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="social-media">
            <i class="fab fa-facebook fa-4x"></i>
            <i class="fab fa-google fa-4x"></i>
            <i class="fab fa-instagram fa-4x"></i>
        </div>
        <p>pratik_cake_house &copy; 2021 ,All Rights Reserved</p>
    </footer>
    <script >
        //console.dir(document);
var buttom =document.getElementById('bt1').addEventListener('click',buttonClick);

function buttonClick(){
    alert("submited")
}
    </script>
</section>
</body>
</html>